@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  background-color: #ffa69e;
}

.main-title {
  font-size: 3.5rem;
}

.header {
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-around;
}
.navbar a {
  color: black;
}
.navbar a:hover {
  color: rgb(55, 55, 55);
}

.list__items ul{
  margin: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.list__items--style {
  width: auto;
  list-style: none;
  border-radius: 3rem;
  margin: 1rem;
  padding: 2rem 1rem;
  background-color: rgba(165, 255, 214, 0.582);
}

.list__items--style img {
  width: 70%;
  border-radius: 30px;
}

.list__items--style button {
  padding: 1rem;
  border-radius: 1rem;
  background-color:  rgba(132, 220, 198, 0.724);
  margin-top: 1rem;
  width: 50%;
  margin: 1rem auto 0;
}
.list__items--content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.review-body {
  padding: 2.5rem;
  line-height: 2.5rem;
  font-size: 1.5rem;
  letter-spacing: .1rem;
}

.review-img,.designer {
  padding: 1rem;
}

@media only screen and (min-width: 600px) {

  .list__items ul {
    justify-content: center;
  }

  .list__items--style {
    flex-direction: row;
    width: 40%;
  }

  .single-review { 
    display: block;
    margin: 0 auto;
    width: 75%;
  }


}
@media only screen and (min-width: 900px) {

  .list__items--style {
    width: 30%;
  }
}